* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: sans-serif;
	background-color: #f1f1f1;
  }
  
  .container {
	max-width: 700px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  }
  
  .title {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #333;
  }
  
  form {
	background-color: #fff;
	padding: 30px 40px;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	transition: transform 0.3s ease;
  }
  
  form:hover {
	transform: translateY(-5px);
  }
  
  label {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #333;
  }
  
  input[type=file] {
	
  }
  
  input[type=file]:hover {
	background-color: #e9e9e9;
  }
  
  input[type=submit] {
	background-color: #4f6072;
	color: #fff;
	border: none;
	padding: 15px 30px;
	border-radius: 8px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.2s ease;
  }
  
  input[type=submit]:hover {
	background-color: #34495e;
  }
  
  .error-message {
	color: #ff3e3b;
	font-size: 16px;
	margin-top: 10px;
  }
  
  .file-upload {
	margin: 25px;
	display: block;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
  }
  .file-upload .file-select {
	display: block;
	border: 2px solid #dce4ec;
	color: #34495e;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	text-align: left;
	background: #ffffff;
	overflow: hidden;
	position: relative;
  }
  .file-upload .file-select .file-select-button {
	background: #dce4ec;
	padding: 0 10px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
  }
  .file-upload .file-select .file-select-name {
	line-height: 40px;
	display: inline-block;
	padding: 0 10px;
  }
  .file-upload .file-select:hover {
	border-color: #34495e;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
  }
  .file-upload .file-select:hover .file-select-button {
	background: #34495e;
	color: #ffffff;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
  }
  .file-upload.active .file-select {
	border-color: #3fa46a;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
  }
  .file-upload.active .file-select .file-select-button {
	background: #3fa46a;
	color: #ffffff;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
  }
  .file-upload .file-select input[type="file"] {
	z-index: 100;
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
  }
  .file-upload .file-select.file-select-disabled {
	opacity: 0.65;
  }
  .file-upload .file-select.file-select-disabled:hover {
	cursor: default;
	display: block;
	border: 2px solid #dce4ec;
	color: #34495e;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
	text-align: left;
	background: #ffffff;
	overflow: hidden;
	position: relative;
  }
  .file-upload .file-select.file-select-disabled:hover .file-select-button {
	background: #dce4ec;
	color: #666666;
	padding: 0 10px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
  }
  .file-upload .file-select.file-select-disabled:hover .file-select-name {
	line-height: 40px;
	display: inline-block;
	padding: 0 10px;
  }
  
  /* Style the progress bar */
#progress-bar {
	width: 100%;
	height: 20px;
	margin-top: 20px;
  }
  
  /* Style the progress bar track */
  #progress-bar::-webkit-progress-bar {
	background-color: #ccc;
	border-radius: 5px;
  }
  
  /* Style the progress bar fill */
  #progress-bar::-webkit-progress-value {
	background-color: #0095ff;
	border-radius: 5px;
  }
  
  /* Style the progress bar text */
  #progress-bar::-webkit-progress-value::after {
	content: attr(value) '%';
	font-size: 12px;
	color: #fff;
	position: absolute;
	top: 2px;
	right: 5px;
  }
  
  .dropdown {
	margin-bottom: 25px;
	width: 100%;
  }
  
  .dropdown select {
	padding: 0 10px;
	font-size: 16px;
	border: none;
	border-radius: 8px;
	background-color: #fff;
	color: #444;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s ease;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
  }
  
  .dropdown select:hover {
	background-color: #f9f9f9;
  }
  
  .dropdown select:focus {
	outline: none;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown select option {
	background-color: #fff;
	color: #444;
  }