{% extends "base.html" %}
{% block title %}Centrality{% endblock %}
{% block span %}Centrality Page{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="styledh3">Embedding</h3>
            <hr> <!-- Add a horizontal rule for visual separation -->
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="card card-body" style="align-items: center;">
                <iframe id="graph_embedding_frame" src="{{ graph_embedding }}" width="100%" height="500"></iframe>
                <!--<img src="{{ url_for('static', filename=image_path) }}" class="img-fluid" style="width: 500px;">-->
            </div>
        </div>
        <div class="col-2">
            <div class="card card-body" style="align-items: center;">

                <form method="post">
                    <div style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
                        <span>Parameters:</span>
                        <img src="{{ url_for('static', filename='app_images/question.png') }}" alt="Image"
                             style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                             data-placement="bottom" title="{{tooltip_parameters}}">
                    </div>

                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span>q = </span>
                        </div>
                        <div class="col mx-1">
                            <input type="number" id="parameter_q" style="margin: 5px;" name="q_value"
                                   class="form-control" min="1" step="1" placeholder="None" value="1"
                                   style="size: 1rem;">
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span>p = </span>
                        </div>
                        <div class="col mx-1">
                            <input type="number" id="parameter_p" style="margin: 5px;" name="p_value"
                                   class="form-control" min="1" step="1" placeholder="None" value="1"
                                   style="size: 1rem;">
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
                        <span>Layout</span>
                        <img src="{{ url_for('static', filename='app_images/question.png') }}" alt="Image"
                             style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                             data-placement="bottom" title="{{tooltip_layout}}">
                    </div>

                    <div class="dropdown" style="margin:5px">
                        <select id="dropdown-menu" class="mx-auto" name="layout">
                            <option value="TSNE" {% if layout=='TSNE' %}selected{% endif %}>TSNE</option>
                            <option value="PCA" {% if layout=='PCA' %}selected{% endif %}>PCA
                            </option>
                            <option value="UMAP" {% if layout=='UMAP' %}selected{% endif %}>UMAP
                            </option>
                        </select>
                    </div>

                    <button type="button" class="btn btn-primary" style="margin:5px; width: 100%;">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <hr>

    <div class="card card-body">
        <table id="embedding-metrics" class="display" style="width:100%">
        </table>
    </div>
    <!--    <div class="row mt-3">-->
    <!--        <div class="col-md-12">-->
    <!--            <div class="text-right">-->
    <!--                <button id="download_csv" type="button" class="btn btn-outline-secondary">Download CSV</button>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

</div>
<script src="../../static/js/utils.js"></script>
<script type="text/javascript" src="../../static/js/node2vec.js"></script>

<script type="text/javascript">
    const BASE_URL = 'http://localhost:8000/api/v1/deeplearning/';

    $(document).ready(function () {
        const submitButton = document.querySelector('button[type="button"]');
        const parameter_q = document.getElementById('parameter_q');
        const parameter_p = document.getElementById('parameter_p');
        const dropdownMenu = document.getElementById('dropdown-menu');

        const data = {
            'q_value': parameter_q.value,
            'p_value': parameter_p.value,
            'layout': dropdownMenu.value,
            'session_id': '{{ session_id }}'
        };

        performNode2VecEmbeddingVisualisation(data)

        $(submitButton).on('click', function () {
            const data = {
                'q_value': parameter_q.value,
                'p_value': parameter_p.value,
                'layout': dropdownMenu.value,
                'session_id': '{{ session_id }}'
            };
            performNode2VecEmbeddingVisualisation(data)
        });
    });
</script>

{% endblock %}