{% extends "base.html" %}
{% block title %}Centrality{% endblock %}
{% block span %}Centrality Page{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Load Centrality</h3>
            <hr> <!-- Add a horizontal rule for visual separation -->
        </div>
    </div>
    <div class="card-body">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    {% for header in table_headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_rows %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="text-right">
                <button id="download_csv" type="button" class="btn btn-outline-secondary">Download CSV</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>

{% endblock %}