{% extends "base.html" %}
{% block title %}Metrics{% endblock %}
{% block span %}Global Metrics{% endblock %}
{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <h3 class="styledh3">Global Metrics</h3>
            <hr> <!-- Add a horizontal rule for visual separation -->
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="card card-body">
                <table id="global-metrics" class="display" style="width:100%">
                    <thead>
                        <tr>
                            {% for cell in example.columns %}
                            <th>{{ cell }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in example.itertuples() %}
                        <tr>
                            {% for cell in row[1:] %}
                            <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-2">
            <div class="card card-body" style="align-items: center;">

                <form method="post">
                    <div style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
                        <span>Multi</span>
                        <img src="{{ url_for('static', filename='app_images/question.png') }}" class="mx-auto"
                            alt="Image" style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                            data-placement="bottom" title="{{tooltip_multi}}">
                    </div>

                    <div class="toggle-container"
                        style="display: flex; flex-direction: row; align-items: center; margin-top: 5px;">
                        <div class="toggle-btn">
                            <input type="checkbox" id="multi-toggle" name="multi_toggle" {% if multi_toggle %}checked{%
                                endif %}>
                            <label for="multi-toggle"></label>
                        </div>
                    </div>


                    <div style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
                        <span style="display: inline-block; margin-right: 5px;">Directed</span>
                        <img src="{{ url_for('static', filename='app_images/question.png') }}" class="mx-auto"
                            alt="Image" style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                            data-placement="bottom" title="{{tooltip_directed}}">
                    </div>

                    <div class="toggle-container"
                        style="display: flex; flex-direction: row; align-items: center; margin-top: 5px;">
                        <div class="toggle-btn">
                            <input type="checkbox" id="directed-toggle" name="directed_toggle" {% if directed_toggle
                                %}checked{% endif %}>
                            <label for="directed-toggle"></label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin:5px; width: 100%;">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>

{% endblock %}