{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block span %}Home Page{% endblock %}
{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <h3 class="styledh3">Uploaded Dataset</h3>
            <hr> <!-- Add a horizontal rule for visual separation -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body" style="margin-bottom: 50px;">

                <table id="datasetTable" class="display" style="width:100%">
                </table>
            </div>

        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/resilience.js') }}"></script>

<script type="text/javascript">
    const BASE_URL = 'http://3.221.153.241:8000/api/v1/visualisation/';
    $(document).ready(function () {
        $.ajax({
            url: BASE_URL + '{{session_id}}' + '/dataset',
            type: 'GET',
            mode: 'no-cors',
            success: function (res) {
                const data = JSON.parse(res.data);
                const datasetTable = document.getElementById('datasetTable');

                createTable(datasetTable, data.data, data.columns);
            },
            error: function (data) {
                alert('An error occurred. Please try again.');

                console.log(data);
            }
        })
    });
</script>
{% endblock %}