<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="styledh3">{{method_name}}</h3>
            <p>{{description | safe}}</p>
            <hr> <!-- Add a horizontal rule for visual separation -->
        </div>
    </div>
    <div class="row">
        <div class="container mt-3">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <!-- Layout Tab UL -->
                    <button class="nav-link active" id="nav-layout-tab" data-bs-toggle="tab" data-bs-target="#tab1"
                        type="button" role="tab" aria-controls="nav-layout" aria-selected="true">Layout <span
                            style="display: inline-block; margin-left: 5px;"><img
                                src="{{ url_for('static', filename='app_images/question.png') }}" class="mx-auto"
                                alt="Image" style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                data-placement="bottom" title="{{tooltip_layout_tab}}"></span></button>
                    <!-- Histogram Tab UL -->
                    <button class="nav-link" id="nav-histogram-tab" data-bs-toggle="tab" data-bs-target="#tab2"
                        type="button" role="tab" aria-controls="nav-histogram" aria-selected="true">Histogram <span
                            style="display: inline-block; margin-left: 5px;"><img
                                src="{{ url_for('static', filename='app_images/question.png') }}" class="mx-auto"
                                alt="Image" style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                data-placement="bottom" title="{{tooltip_histogram_tab}}"></span></button>
                    <!-- Boxplot Tab UL -->
                    <button class="nav-link" id="nav-boxplot-tab" data-bs-toggle="tab" data-bs-target="#tab3"
                        type="button" role="tab" aria-controls="nav-boxplot" aria-selected="true">Boxplot <span
                            style="display: inline-block; margin-left: 5px;"><img
                                src="{{ url_for('static', filename='app_images/question.png') }}" class="mx-auto"
                                alt="Image" style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                data-placement="bottom" title="{{tooltip_boxplot_tab}}"></span></button>
                    <!-- Violinplot Tab UL -->
                    <button class="nav-link" id="nav-violinplot-tab" data-bs-toggle="tab" data-bs-target="#tab4"
                        type="button" role="tab" aria-controls="nav-violinplot" aria-selected="true">Violinplot <span
                            style="display: inline-block; margin-left: 5px;"><img
                                src="{{ url_for('static', filename='app_images/question.png') }}" class="mx-auto"
                                alt="Image" style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                data-placement="bottom" title="{{tooltip_violinplot_tab}}"></span></button>
                </div>
            </nav>

            <div class="tab-content" style="background-color: white; padding-bottom: 25px;">
                <div id="tab1" class="container tab-pane active">
                    <br />
                    <div class="row">
                        <div class="col-10">
                            <div class="card card-body" style="align-items: center;">
                                <iframe src="{{ graph1 }}" width="100%" height="500"></iframe>
                                <!--<img src="{{ url_for('static', filename=image_path) }}" class="img-fluid" style="width: 500px;">-->
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card card-body" style="align-items: center;">

                                <form method="post">

                                    <div
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
                                        <span>Multi</span>
                                        <img src="{{ url_for('static', filename='app_images/question.png') }}"
                                            class="mx-auto" alt="Image"
                                            style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                            data-placement="bottom" title="{{tooltip_multi}}">
                                    </div>

                                    <div class="toggle-container"
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 5px;">
                                        <div class="toggle-btn">
                                            <input type="checkbox" id="multi-toggle" name="multi_toggle" {% if
                                                multi_toggle %}checked{% endif %}>
                                            <label for="multi-toggle"></label>
                                        </div>
                                    </div>

                                    <div
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
                                        <span>Dynamic</span>
                                        <img src="{{ url_for('static', filename='app_images/question.png') }}"
                                            class="mx-auto" alt="Image"
                                            style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                            data-placement="bottom" title="{{tooltip_dynamic}}">
                                    </div>

                                    <div class="toggle-container"
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 5px;">
                                        <div class="toggle-btn">
                                            <input type="checkbox" id="dynamic-toggle" name="dynamic_toggle" {% if
                                                dynamic_toggle %}checked{% endif %}>
                                            <label for="dynamic-toggle"></label>
                                        </div>

                                    </div>

                                    <div
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
                                        <span style="display: inline-block; margin-right: 5px;">Directed</span>
                                        <img src="{{ url_for('static', filename='app_images/question.png') }}"
                                            class="mx-auto" alt="Image"
                                            style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                            data-placement="bottom" title="{{tooltip_directed}}">
                                    </div>

                                    <div class="toggle-container"
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 5px;">
                                        <div class="toggle-btn">
                                            <input type="checkbox" id="directed-toggle" name="directed_toggle" {% if
                                                directed_toggle %}checked{% endif %}>
                                            <label for="directed-toggle"></label>
                                        </div>
                                    </div>
                                    <div
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
                                        <span>Layout</span>
                                        <img src="{{ url_for('static', filename='app_images/question.png') }}"
                                            class="mx-auto" alt="Image"
                                            style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                            data-placement="bottom" title="{{tooltip_layout}}">
                                    </div>


                                    <div class="dropdown">
                                        <select id="dropdown-menu" class="mx-auto" name="layout">
                                            <option value="map" {% if layout=='map' %}selected{% endif %}>Map
                                            </option>
                                            <option value="sfdp" {% if layout=='sfdp' %}selected{% endif %}>Sfdp
                                            </option>
                                            <option value="twopi" {% if layout=='twopi' %}selected{% endif %}>Twopi
                                            </option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="container tab-pane fade">
                    <br />
                    <div class="row">
                        <div class="col-10">
                            <div class="card card-body" style="align-items: center;">
                                <iframe src="{{ graph2 }}" width="100%" height="500"></iframe>
                                <!--<img src="{{ url_for('static', filename=image_path) }}" class="img-fluid" style="width: 500px;">-->
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card card-body" style="align-items: center;">

                                <form method="post">

                                    <div
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
                                        <span>Multi</span>
                                        <img src="{{ url_for('static', filename='app_images/question.png') }}"
                                            class="mx-auto" alt="Image"
                                            style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                            data-placement="bottom" title="{{tooltip_multi}}">
                                    </div>

                                    <div class="toggle-container"
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 5px;">
                                        <div class="toggle-btn">
                                            <input type="checkbox" id="multi-toggle2" name="multi_toggle" {% if
                                                multi_toggle %}checked{% endif %}>
                                            <label for="multi-toggle2"></label>
                                        </div>
                                    </div>


                                    <div
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
                                        <span style="display: inline-block; margin-right: 5px;">Directed</span>
                                        <img src="{{ url_for('static', filename='app_images/question.png') }}"
                                            class="mx-auto" alt="Image"
                                            style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                            data-placement="bottom" title="{{tooltip_directed}}">
                                    </div>

                                    <div class="toggle-container"
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 5px;">
                                        <div class="toggle-btn">
                                            <input type="checkbox" id="directed-toggle2" name="directed_toggle" {% if
                                                directed_toggle %}checked{% endif %}>
                                            <label for="directed-toggle2"></label>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary"
                                        style="width: 100%; margin-top: 10px;">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab3" class="container tab-pane fade">
                    <br />
                    <div class="row">
                        <div class="col-10">
                            <div class="card card-body" style="align-items: center;">
                                <iframe src="{{ graph3 }}" width="100%" height="500"></iframe>
                                <!--<img src="{{ url_for('static', filename=image_path) }}" class="img-fluid" style="width: 500px;">-->
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card card-body" style="align-items: center;">

                                <form method="post">

                                    <div
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
                                        <span>Multi</span>
                                        <img src="{{ url_for('static', filename='app_images/question.png') }}"
                                            class="mx-auto" alt="Image"
                                            style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                            data-placement="bottom" title="{{tooltip_multi}}">
                                    </div>

                                    <div class="toggle-container"
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 5px;">
                                        <div class="toggle-btn">
                                            <input type="checkbox" id="multi-toggle3" name="multi_toggle" {% if
                                                multi_toggle %}checked{% endif %}>
                                            <label for="multi-toggle3"></label>
                                        </div>
                                    </div>


                                    <div
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
                                        <span style="display: inline-block; margin-right: 5px;">Directed</span>
                                        <img src="{{ url_for('static', filename='app_images/question.png') }}"
                                            class="mx-auto" alt="Image"
                                            style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                            data-placement="bottom" title="{{tooltip_directed}}">
                                    </div>

                                    <div class="toggle-container"
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 5px;">
                                        <div class="toggle-btn">
                                            <input type="checkbox" id="directed-toggle3" name="directed_toggle" {% if
                                                directed_toggle %}checked{% endif %}>
                                            <label for="directed-toggle3"></label>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary"
                                        style="width: 100%; margin-top: 10px;">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab4" class="container tab-pane fade">
                    <br />
                    <div class="row">
                        <div class="col-10">
                            <div class="card card-body" style="align-items: center;">
                                <iframe src="{{ graph4 }}" width="100%" height="500"></iframe>
                                <!--<img src="{{ url_for('static', filename=image_path) }}" class="img-fluid" style="width: 500px;">-->
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card card-body" style="align-items: center;">

                                <form method="post">

                                    <div
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
                                        <span>Multi</span>
                                        <img src="{{ url_for('static', filename='app_images/question.png') }}"
                                            class="mx-auto" alt="Image"
                                            style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                            data-placement="bottom" title="{{tooltip_multi}}">
                                    </div>

                                    <div class="toggle-container"
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 5px;">
                                        <div class="toggle-btn">
                                            <input type="checkbox" id="multi-toggle4" name="multi_toggle" {% if
                                                multi_toggle %}checked{% endif %}>
                                            <label for="multi-toggle4"></label>
                                        </div>
                                    </div>


                                    <div
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 10px;">
                                        <span style="display: inline-block; margin-right: 5px;">Directed</span>
                                        <img src="{{ url_for('static', filename='app_images/question.png') }}"
                                            class="mx-auto" alt="Image"
                                            style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                            data-placement="bottom" title="{{tooltip_directed}}">
                                    </div>

                                    <div class="toggle-container"
                                        style="display: flex; flex-direction: row; align-items: center; margin-top: 5px;">
                                        <div class="toggle-btn">
                                            <input type="checkbox" id="directed-toggle4" name="directed_toggle" {% if
                                                directed_toggle%}checked{% endif %}>
                                            <label for="directed-toggle4"></label>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary"
                                        style="width: 100%; margin-top: 10px;">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="card card-body">
        <table id="example-metrics" class="display" style="width:100%">
            <thead>
                <tr>
                    {% for cell in example.columns %}
                    <th>{{ cell }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in example.itertuples() %}
                <tr>
                    {% for cell in row[1:] %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="text-right">
                <button id="download_csv" type="button" class="btn btn-outline-secondary">Download CSV</button>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>