{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block span %}Home Page{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Static Visualisation </h3>
            <hr> <!-- Add a horizontal rule for visual separation -->
        </div>
    </div>
    <div class="row">
        <div class="container mt-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tab1">Tab 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab2">Tab 2</a>
                </li>
            </ul>

            <div class="tab-content" style="background-color: white; padding-bottom: 25px;">
                <div id="tab1" class="container tab-pane active">
                    <br />
                    <div class="row">
                        <div class="col-10">
                            <div class="card card-body" style="align-items: center;">
                                <iframe src="{{ graph_name }}" width="100%" height="500"></iframe>
                                <!--<img src="{{ url_for('static', filename=image_path) }}" class="img-fluid" style="width: 500px;">-->
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card card-body" style="align-items: center;">

                                <form method="post">
                                    <div class="toggle-btn" style="margin:5px">
                                        <input type="checkbox" id="dynamic-toggle" name="dynamic_toggle" {% if
                                            dynamic_toggle %}checked{% endif %}>
                                        <label for="dynamic-toggle"></label>
                                    </div>
                                    <span>Dynamic</span>
                                    <div class="toggle-btn" style="margin:5px">
                                        <input type="checkbox" id="directed-toggle" name="directed_toggle" {% if
                                            directed_toggle %}checked{% endif %}>
                                        <label for="directed-toggle"></label>
                                    </div>
                                    <span>Directed</span>
                                    <div class="dropdown" style="margin:5px">
                                        <select id="dropdown-menu" class="mx-auto" name="layout">
                                            <option value="option1" {% if layout=='option1' %}selected{% endif %}>Select
                                                Layout</option>
                                            <option value="map" {% if layout=='map' %}selected{% endif %}>Map</option>
                                            <option value="sfdp" {% if layout=='sfdp' %}selected{% endif %}>Sfdp
                                            </option>
                                            <option value="twopi" {% if layout=='twopi' %}selected{% endif %}>Twopi
                                            </option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary"
                                        style="margin:5px; width: 100%;">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="container tab-pane fade">
                    <br />
                    <div class="row">
                        <div class="col-8">
                            <div class="card card-body" style="align-items: center;">
                                <iframe
                                    src="{{ url_for('static', filename='graphs/degree_centrality_Undirected_Static_map.html') }}"
                                    width="100%" height="500"></iframe>
                                <!--<img src="{{ url_for('static', filename=image_path) }}" class="img-fluid" style="width: 500px;">-->
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card card-body" style="align-items: center;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>

{% endblock %}