<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body class="p-3 m-0 border-0 bd-example">
    <!-- Example Code -->

    <div class="container mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab1">Tab 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab2">Tab 2</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="tab1" class="container tab-pane active">
                <br />
                <h3>Text 1</h3>
                <p>Content for Tab 1...</p>
            </div>
            <div id="tab2" class="container tab-pane fade">
                <br />
                <h3>Text 2</h3>
                <p>Content for Tab 2...</p>
            </div>
        </div>
    </div>

    <!-- End Example Code -->
</body>

</html>