<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="styledh3">{{method_name}} Hotspot</h3>
            <hr> <!-- Add a horizontal rule for visual separation -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body" style="align-items: center;">
                <iframe id="graphHotspot" src="{{ graph1 }}" width="100%" height="700"></iframe>
                <!--<img src="{{ url_for('static', filename=image_path) }}" class="img-fluid" style="width: 500px;">-->
            </div>
        </div>
    </div>
    <hr>

    <div class="card card-body">
        <h3 class="styledh3">Density Information</h3>
        <table id="example-hotspot" class="display" style="width:100%">
        </table>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="text-right">
                <button id="download_csv" type="button" class="btn btn-outline-secondary">Download CSV</button>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../static/js/hotspot/hotspot.js"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example-metrics').DataTable({
            "order": [[2, "asc"]],
        });
        
        const hotspotType = '{{ hotspotType }}';
        
        
        const data = {
            'session_id': '{{ session_id }}',
        };

        hotspotVisualisation(data, hotspotType)

    });

</script>