{% extends "base.html" %}
{% block title %}Resilience{% endblock %}
{% block span %}Resilience Analysis{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Malicious Resilience Analysis</h3>
            <hr> <!-- Add a horizontal rule for visual separation -->
        </div>
    </div>

    <div class="col">
        <div class="card mx-auto" style="width: 30rem;">
            <div class="card-body">
                <form method="post">
                    <label for="type_of_attack" style="margin-top: 5px;">Type of Attack</label>
                    <div class="dropdown" style="margin:5px">
                        <select id="dropdown-menu" class="mx-auto" name="layout">
                            <option value="map" {% if layout=='map' %}selected{% endif %}>Map</option>
                            <option value="sfdp" {% if layout=='sfdp' %}selected{% endif %}>Sfdp
                            </option>
                            <option value="twopi" {% if layout=='twopi' %}selected{% endif %}>Twopi
                            </option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="container mt-3">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link {% if tab_main=='tab1' %}active{% else %}{% endif %}"
                                        data-toggle="tab" href="#form_tab1">Level</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if tab_main=='tab2' %}active{% else %}{% endif %}"
                                        data-toggle="tab" href="#form_tab2">Threshold</a>
                                </li>
                            </ul>

                            <div class="tab-content" style="background-color: white; padding-bottom: 25px;">
                                <div id="form_tab1"
                                    class="container tab-pane {% if tab_main=='tab1' %}active{% else %}fade{% endif %}">
                                    <br />
                                    <div class="row">
                                        <label for="number_of_levels" style="margin-top: 5px;">Number of Levels</label>
                                        <input type="number" id="number_of_levels" style="margin: 5px;"
                                            name="number_of_levels" class="form-control" min="1" step="1"
                                            placeholder="None" {% if number_of_levels is not none
                                            %}value="{{ number_of_levels }}" {% endif %}>
                                    </div>
                                </div>
                                <div id="form_tab2"
                                    class="container tab-pane {% if tab_main=='tab2' %}active{% else %}fade{% endif %}">
                                    <br />

                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <label for="threashold" style="margin-top: 5px;">Threashold</label>
                                        </div>
                                        <div class="col-auto">
                                            <div class="dropdown" style="margin:5px">
                                                <select id="dropdown-menu2" class="mx-auto" name="layout2">
                                                    <option value="greater_than" {% if layout2=='greater_than'
                                                        %}selected{% endif %}>&gt
                                                    </option>
                                                    <option value="less_than" {% if layout2=='less_than' %}selected{%
                                                        endif %}>&lt
                                                    </option>
                                                    <option value="equal_to" {% if layout2=='equal_to' %}selected{%
                                                        endif %}>=
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <input type="number" id="number_of_threashold" style="margin: 5px;"
                                                name="number_of_threashold" class="form-control" min="1" step="1"
                                                placeholder="None" {% if number_of_threashold is not none
                                                %}value="{{ number_of_threashold }}" {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin:5px; width: 100%;">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <hr>

    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        Image will be load here.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        Image will be load here.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        Image will be load here.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>

{% endblock %}