{% extends "base.html" %}
{% block title %}Resilience{% endblock %}
{% block span %}Resilience Analysis{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="styledh3">Cluster Resilience Analysis</h3>
            <hr> <!-- Add a horizontal rule for visual separation -->
        </div>
    </div>

    <div class="col">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Input Form
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="card mx-auto" style="width: 30rem;">
                            <div class="card-body">
                                <form id="mainform-accordian" method="post">
                                    <label for="type_of_attack" style="margin-top: 5px;">Type of Cluster</label>
                                    <div class="dropdown" style="margin:5px">
                                        <select id="dropdown-menu" class="mx-auto" name="layout">
                                            <option value="louvain" {% if layout=='louvain' %}selected{% endif %}>
                                                Louvain</option>
                                            <option value="greedy_modularity" {% if layout=='greedy_modularity'
                                                %}selected{% endif %}>
                                                Greedy Modularity
                                            </option>
                                            <option value="label_propagation" {% if layout=='label_propagation'
                                                %}selected{% endif %}>
                                                Label Propagation
                                            </option>
                                            <option value="asyn_lpa" {% if layout=='asyn_lpa' %}selected{% endif %}>Asyn
                                                Lpa
                                            </option>
                                            <option value="k_clique" {% if layout=='k_clique' %}selected{% endif %}>K
                                                Clique
                                            </option>
                                            <option value="spectral" {% if layout=='spectral' %}selected{% endif %}>
                                                Spectral
                                            </option>
                                            <option value="kmeans" {% if layout=='kmeans' %}selected{% endif %}>KMeans
                                            </option>
                                            <option value="agglomerative" {% if layout=='agglomerative' %}selected{%
                                                endif %}>
                                                Agglomerative
                                            </option>
                                            <option value="dbscan" {% if layout=='dbscan' %}selected{% endif %}>Dbscan
                                            </option>
                                            <option value="hierarchical" {% if layout=='hierarchical' %}selected{% endif
                                                %}>Hierarchical
                                            </option>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <label for="number_of_cluster_to_generate" style="margin-top: 5px;">Total number
                                            of cluster to
                                            generate</label>
                                        <input type="number" id="number_of_cluster_to_generate" style="margin: 5px;"
                                            name="number_of_cluster_to_generate" class="form-control" min="1" step="1"
                                            placeholder="None" {% if number_of_cluster_to_generate is not none
                                            %}value="{{ number_of_cluster_to_generate }}" {% endif %}>
                                        <label for="cluster_to_attack" style="margin-top: 5px;">Number of cluster to
                                            attack</label>
                                        <input type="number" id="cluster_to_attack" style="margin: 5px;"
                                            name="cluster_to_attack" class="form-control" min="1" step="1"
                                            placeholder="None" {% if cluster_to_attack is not none
                                            %}value="{{ cluster_to_attack }}" {% endif %}>
                                    </div>
                                    <button type="submit" class="btn btn-primary"
                                        style="margin:5px; width: 100%;">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample1">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button id="accordion-button-two" class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                        aria-controls="flush-collapseTwo">
                        Output
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample1">
                    <div class="accordion-body">
                        <div class="container px-4 text-center">
                            <div class="row gx-5">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            Image will be load here.
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            This is some text within a card body.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-5">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            Image will be load here.
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            This is some text within a card body.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-5">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            Image will be load here.
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            This is some text within a card body.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>



</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>

{% endblock %}