{% extends "base.html" %}
{% block title %}Resilience{% endblock %}
{% block span %}Resilience Analysis{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="styledh3">Malicious Resilience Analysis</h3>
            <hr> <!-- Add a horizontal rule for visual separation -->
        </div>
    </div>

    <div class="col">
        <!-- Input Accordion Starts -->
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Input Form
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <!-- Card Form starts here -->
                        <div class="card mx-auto" style="width: 30rem;">
                            <div class="card-body">
                                <form id="mainform-accordian" method="post">
                                    <label for="type_of_attack" style="margin-top: 5px;">Type of Attack</label>
                                    <div class="dropdown" style="margin:5px">
                                        <select id="dropdown-menu" class="mx-auto" name="layout">
                                            <option value="degree_centrality" {% if layout=='degree_centrality'
                                                %}selected{% endif %}>
                                                Degree Centrality</option>
                                            <option value="eigenvector_centrality" {% if
                                                layout=='eigenvector_centrality' %}selected{% endif %}>Eigenvector
                                                Centrality
                                            </option>
                                            <option value="closeness_centrality" {% if layout=='closeness_centrality'
                                                %}selected{% endif %}>Closeness Centrality
                                            </option>
                                            <option value="betweenness_centrality" {% if
                                                layout=='betweenness_centrality' %}selected{% endif %}>Betwenness
                                                Centrality
                                            </option>
                                            <option value="load_centrality" {% if layout=='load_centrality' %}selected{%
                                                endif %}>Load
                                                Centrality
                                            </option>
                                            <option value="kcore" {% if layout=='kcore' %}selected{% endif %}>K Core
                                                Node
                                            </option>
                                            <option value="degree" {% if layout=='degree' %}selected{% endif %}>Degree
                                                Node
                                            </option>
                                            <option value="triangles" {% if layout=='triangles' %}selected{% endif %}>
                                                Triangle Node
                                            </option>
                                            <option value="pagerank" {% if layout=='pagerank' %}selected{% endif %}>Page
                                                Rank Node
                                            </option>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="container mt-3">
                                            <nav>
                                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                    <button
                                                        class="nav-link {% if tab_main=='tab1' %}active{% else %}{% endif %}"
                                                        id="nav-level-tab" data-bs-toggle="tab"
                                                        data-bs-target="#form_tab1" type="button" role="tab"
                                                        aria-controls="nav-level" aria-selected="true">Level</button>
                                                    <button
                                                        class="nav-link {% if tab_main=='tab2' %}active{% else %}{% endif %}"
                                                        id="nav-threshold-tab" data-bs-toggle="tab"
                                                        data-bs-target="#form_tab2" type="button" role="tab"
                                                        aria-controls="nav-threshold"
                                                        aria-selected="false">Threshold</button>
                                                </div>
                                            </nav>


                                            <div class="tab-content"
                                                style="background-color: white; padding-bottom: 25px;">
                                                <div id="form_tab1"
                                                    class="container tab-pane {% if tab_main=='tab1' %}active{% else %}fade{% endif %}">
                                                    <br />
                                                    <div class="row">
                                                        <label for="number_of_levels" style="margin-top: 5px;">Number of
                                                            Levels</label>
                                                        <input type="number" id="number_of_levels" style="margin: 5px;"
                                                            name="number_of_levels" class="form-control" min="1"
                                                            step="1" placeholder="None" {% if number_of_levels is not
                                                            none %}value="{{ number_of_levels }}" {% endif %}>
                                                    </div>
                                                </div>
                                                <div id="form_tab2"
                                                    class="container tab-pane {% if tab_main=='tab2' %}active{% else %}fade{% endif %}">
                                                    <br />

                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <label for="threashold"
                                                                style="margin-top: 5px;">Threashold</label>
                                                        </div>
                                                        <div class="col-auto">
                                                            <div class="dropdown" style="margin:5px">
                                                                <select id="dropdown-menu2" class="mx-auto"
                                                                    name="layout2">
                                                                    <option value="greater_than" {% if
                                                                        layout2=='greater_than' %}selected{% endif %}>
                                                                        &gt
                                                                    </option>
                                                                    <option value="less_than" {% if layout2=='less_than'
                                                                        %}selected{% endif %}>&lt
                                                                    </option>
                                                                    <option value="equal_to" {% if layout2=='equal_to'
                                                                        %}selected{% endif %}>=
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <input type="number" id="number_of_threashold"
                                                                style="margin: 5px;" name="number_of_threashold"
                                                                class="form-control" min="1" step="1" placeholder="None"
                                                                {% if number_of_threashold is not none
                                                                %}value="{{ number_of_threashold }}" {% endif %}>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary"
                                        style="margin:5px; width: 100%;">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Output Accordion Starts -->
        <div class="accordion accordion-flush" id="accordionFlushExample1">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button id="accordion-button-two" class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                        aria-controls="flush-collapseTwo">
                        Output
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample1">
                    <div class="accordion-body">
                        <!-- Start the Main content from here -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-Visualisation-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-Visualisation" type="button" role="tab"
                                    aria-controls="nav-Visualisation" aria-selected="true">Visualisation</button>
                                <button class="nav-link" id="nav-Centrality-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-Centrality" type="button" role="tab"
                                    aria-controls="nav-Centrality" aria-selected="false">Centrality</button>
                                <button class="nav-link" id="nav-Nodes-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-Nodes" type="button" role="tab" aria-controls="nav-Nodes"
                                    aria-selected="false">Nodes</button>
                                <button class="nav-link" id="nav-Clusters-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-Clusters" type="button" role="tab" aria-controls="nav-Clusters"
                                    aria-selected="false">Clusters</button>
                            </div>
                        </nav>

                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-Visualisation" role="tabpanel"
                                aria-labelledby="nav-Visualisation-tab">Network</div>
                            <div class="tab-pane fade" id="nav-Centrality" role="tabpanel"
                                aria-labelledby="nav-Centrality-tab">Centrality</div>
                            <div class="tab-pane fade" id="nav-Nodes" role="tabpanel" aria-labelledby="nav-Nodes-tab">
                                Nodes</div>
                            <div class="tab-pane fade" id="nav-Clusters" role="tabpanel"
                                aria-labelledby="nav-Clusters-tab">Clusters</div>
                        </div>
                        <!-- End the Main content here -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        Image will be load here.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        Image will be load here.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        Image will be load here.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>

{% endblock %}