{% extends "base.html" %}
{% block title %}Resilience{% endblock %}
{% block span %}Resilience Analysis{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="styledh3">Cluster Resilience Analysis</h3>
            <hr> <!-- Add a horizontal rule for visual separation -->
        </div>
    </div>

    <div class="col">
        <!-- Input Accordion Starts -->
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Input Form
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="card mx-auto" style="width: 30rem;">
                            <div class="card-body">
                                <form id="resilienceClusterForm" method="post">
                                    <label for="type_of_attack" style="margin-top: 5px;">Type of Cluster</label>
                                    <div class="dropdown" style="margin:5px">
                                        <select id="dropdown-menu-input" class="mx-auto" name="layout3">
                                            <option value="louvain" {% if layout3=='louvain' %}selected{% endif %}>
                                                Louvain
                                            </option>
                                            <option value="greedy_modularity" {% if layout3=='greedy_modularity'
                                                    %}selected{% endif %}>
                                                Greedy Modularity
                                            </option>
                                            <option value="label_propagation" {% if layout3=='label_propagation'
                                                    %}selected{% endif %}>
                                                Label Propagation
                                            </option>
                                            <option value="asyn_lpa" {% if layout3=='asyn_lpa' %}selected{% endif %}>
                                                Asyn
                                                Lpa
                                            </option>
                                            <option value="k_clique" {% if layout3=='k_clique' %}selected{% endif %}>K
                                                Clique
                                            </option>
                                            <option value="spectral" {% if layout3=='spectral' %}selected{% endif %}>
                                                Spectral
                                            </option>
                                            <option value="kmeans" {% if layout3=='kmeans' %}selected{% endif %}>KMeans
                                            </option>
                                            <option value="agglomerative" {% if layout3=='agglomerative' %}selected{%
                                                    endif %}>
                                                Agglomerative
                                            </option>
                                            <option value="dbscan" {% if layout3=='dbscan' %}selected{% endif %}>Dbscan
                                            </option>
                                            <option value="hierarchical" {% if layout3=='hierarchical' %}selected{%
                                                    endif %}>Hierarchical
                                            </option>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <label for="number_of_cluster_to_generate" style="margin-top: 5px;">Total number
                                            of cluster to
                                            generate</label>
                                        <input type="number" id="number_of_cluster_to_generate-input"
                                               style="margin: 5px;" name="number_of_cluster_to_generate"
                                               class="form-control" min="1" step="1" placeholder="None" {% if
                                               number_of_cluster_to_generate is not none
                                               %}value="{{ number_of_cluster_to_generate }}" {% endif %}>
                                        <label for="cluster_to_attack" style="margin-top: 5px;">Number of cluster to
                                            attack</label>
                                        <input type="number" id="cluster_to_attack-input" style="margin: 5px;"
                                               name="cluster_to_attack" class="form-control" min="1" step="1"
                                               placeholder="None" {% if cluster_to_attack is not none
                                               %}value="{{ cluster_to_attack }}" {% endif %}>
                                    </div>
                                    <button type="submit" class="btn btn-primary" style="margin:5px; width: 100%;"
                                            id="resilience_btn">Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Output Accordion Starts -->
        <div class="accordion accordion-flush" id="accordionFlushExample1">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button id="accordion-button-two" class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                            aria-controls="flush-collapseTwo">
                        Output
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                     data-bs-parent="#accordionFlushExample1">
                    <div>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-auto"><label style="margin-top: 5px;">Multi:</label>
                                <div class="toggle-btn">
                                    <input type="checkbox" id="multi-toggle" name="multi_toggle" {% if multi_toggle
                                           %}checked{% endif %}>
                                    <label for="multi-toggle"></label>
                                </div>
                            </div>
                            <div class="col-auto"><label style="margin-top: 5px;">Directed:</label>
                                <div class="toggle-btn">
                                    <input type="checkbox" id="directed-toggle" name="directed_toggle" {% if
                                           directed_toggle %}checked{% endif %}>
                                    <label for="directed-toggle"></label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <label for="layout_type" style="margin-top: 5px;">Layout:</label>
                            </div>
                            <div class="col-auto">
                                <div class="dropdown" style="margin:5px">
                                    <select id="layout_type" name="layout_type">
                                        <option value="map"> Map</option>
                                        <option value="sfdp" selected>Sfdp</option>
                                        <option value="twopi">Twopi</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-auto">
                                <label for="number_of_clusters" style="margin-top: 5px;">Number of
                                    Clusters:</label>
                            </div>
                            <div class="col-auto">
                                <input type="number" id="number_of_clusters" name="number_of_clusters"
                                       class="form-control" min="1" step="1" placeholder="None" {% if number_of_clusters
                                       is
                                       not none %}value="{{ number_of_clusters }}" {% endif %}>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-body" id="resilienceMaliciousIframe">
                        {% include 'resilience/resilience_template.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>


</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('static', filename='js/resilience_cluster.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        const cluster_algorithm = document.getElementById('dropdown-menu-input');
        const numberOfClustersToGenerate = document.getElementById('number_of_cluster_to_generate-input');
        const numberOfClustersToAttack = document.getElementById('cluster_to_attack-input');

        const res_btn = document.getElementById('resilience_btn');
        const inputAccordion = document.getElementById('flush-collapseOne');
        const outputAccordion = document.getElementById('flush-collapseTwo');


        $(res_btn).on('click', function (e) {
            e.preventDefault();
            if (inputAccordion.classList.contains('show')) {
                inputAccordion.classList.remove('show');
                outputAccordion.classList.add('show');
            } else {
                inputAccordion.classList.add('show');
            }

            const data = {
                cluster_algorithm: cluster_algorithm.value,
                total_clusters: numberOfClustersToGenerate.value,
                number_of_clusters: numberOfClustersToAttack.value,
                session_id: '{{ session_id }}',
            };

            performResilienceClusterForm(data,)
        });

        $(cluster_algorithm).on('change', function (e) {
            if (cluster_algorithm.value === 'dbscan') {
                $(numberOfClustersToGenerate).val(0); // set the value to 0
                $(numberOfClustersToGenerate).prop('disabled', true); // disable the input
            } else {
                $(numberOfClustersToGenerate).prop('disabled', false); // enable the input
            }
        });

    });
</script>
{% endblock %}