{% extends "base.html" %}
{% block title %}Resilience{% endblock %}
{% block span %}Resilience Analysis{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="styledh3">Malicious Resilience Analysis</h3>
            <hr> <!-- Add a horizontal rule for visual separation -->
        </div>
    </div>

    <div class="col">
        <!-- Input Accordion Starts -->
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Input Form
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <!-- Card Form starts here -->
                        <div class="card mx-auto" style="width: 30rem;">
                            <div class="card-body">
                                <form method="post" class="mx-auto" style="margin: 25px;" id="resilienceTemplateForm">
                                    <label for="type_of_attack" style="margin-top: 5px;">Type of Attack:</label>
                                    <img src="{{ url_for('static', filename='app_images/question.png') }}" alt="Image"
                            style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                            data-placement="bottom" title="{{ tooltip_type_of_attack }}">
                            
                                    <div class="dropdown" style="margin:5px">
                                        <select id="type_of_attack" class="mx-auto" name="attack_type">
                                            {% for attack in attack_types %}
                                            <option value="{{ attack }}">{{ attack.replace('_',' ').title() }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="container mt-3">
                                            <nav style="padding-bottom: 10px">
                                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                    <button class="nav-link active" id="nav-node-tab"
                                                        data-bs-toggle="tab" data-bs-target="#nav-node" type="button"
                                                        role="tab" aria-controls="nav-node" aria-selected="true">Node <span style="display: inline-block; margin-left: 5px;"><img
                                                            src="{{ url_for('static', filename='app_images/question.png') }}" class="mx-auto"
                                                            alt="Image" style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                                            data-placement="bottom" title="{{tooltip_node_tab}}"></span>
                                                    </button>
                                                    <button class="nav-link" id="nav-threshold-tab" data-bs-toggle="tab"
                                                        data-bs-target="#nav-threshold" type="button" role="tab"
                                                        aria-controls="nav-threshold" aria-selected="false">
                                                        Threshold <span style="display: inline-block; margin-left: 5px;"><img
                                                            src="{{ url_for('static', filename='app_images/question.png') }}" class="mx-auto"
                                                            alt="Image" style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                                            data-placement="bottom" title="{{tooltip_threshold_tab}}"></span>
                                                    </button>
                                                </div>
                                            </nav>
                                            <div class="tab-content" id="nav-tabContent" style="margin-left: 10px">
                                                <div class="tab-pane fade show active" id="nav-node" role="tabpanel"
                                                     aria-labelledby="nav-node-tab">
                                                    <div class="row">
                                                        <label for="number_of_nodes_malicious_input"
                                                               style="margin-top: 5px;">Number of
                                                            Nodes</label>
                                                        <input type="number" id="number_of_nodes_malicious_input"
                                                               placeholder="None" name="number_of_nodes_malicious"
                                                               class="mx-auto form-control" min="1" step="1" {% if
                                                               number_of_nodes_malicious is not none %}
                                                               value="{{ number_of_nodes_malicious }}" {% endif %}>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-threshold" role="tabpanel"
                                                     aria-labelledby="nav-threshold-tab">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <label for="dropdown-menu2-input"
                                                                   style="margin-top: 5px;">Threshold</label>
                                                        </div>
                                                        <div class="col-auto">
                                                            <div class="dropdown" style="margin:5px">
                                                                <select id="dropdown-menu2-input" class="mx-auto"
                                                                        name="threshold_operator">
                                                                    <option value="greater_than"> &gt;</option>
                                                                    <option value="less_than">&lt;</option>
                                                                    <option value="greater_than_or_equal_to">&ge;</option>
                                                                    <option value="less_than_or_equal_to">&le;</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-auto" style="margin:5px">
                                                            <input type="number" id="number_of_threshold_input"
                                                                   name="number_of_threshold" class="form-control"
                                                                   min="1"
                                                                   step="1" placeholder="None" {% if number_of_threshold
                                                                   is
                                                                   not none %}value="{{ number_of_threshold }}" {% endif
                                                                   %}>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <button type="button" class="btn btn-primary" style="margin:5px; width: 100%;"
                                            id="resilience_btn">Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Output Accordion Starts -->
        <div class="accordion accordion-flush" id="accordionFlushExample1">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button id="accordion-button-two" class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                            aria-controls="flush-collapseTwo">
                        Output
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                     data-bs-parent="#accordionFlushExample1">
                    <div>
                        <div class="row justify-content-center align-items-center" style="margin-top: 10px;">
                            <div class="col-auto"><label style="margin-top: 5px;">Multi:<span style="display: inline-block; margin-left: 5px;"><img
                                src="{{ url_for('static', filename='app_images/question.png') }}" class="mx-auto"
                                alt="Image" style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                data-placement="bottom" title="{{tooltip_multi}}"></span></label>
                            </div>
                            <div class="toggle-btn" style="width:60px">
                                <input type="checkbox" id="multi-toggle" name="multi_toggle">
                                <label for="multi-toggle"></label>
                            </div>
                            <div class="col-auto"><label style="margin-top: 5px;">Directed:<span style="display: inline-block; margin-left: 5px;"><img
                                src="{{ url_for('static', filename='app_images/question.png') }}" class="mx-auto"
                                alt="Image" style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                data-placement="bottom" title="{{tooltip_directed}}"></span></label>
            
                            </div>
                            <div class="toggle-btn" style="width:60px">
                                <input type="checkbox" id="directed-toggle" name="directed_toggle">
                                <label for="directed-toggle"></label>
                            </div>
                            <div class="col-auto">
                                <label for="layout_type" style="margin-top: 5px;">Layout:<span style="display: inline-block; margin-left: 5px;"><img
                                    src="{{ url_for('static', filename='app_images/question.png') }}" class="mx-auto"
                                    alt="Image" style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                    data-placement="bottom" title="{{tooltip_layout_dropdown}}"></span></label>
                            </div>
                            <div class="col-auto">
                                <div class="dropdown" style="margin:5px">
                                    <select id="layout_type" name="layout_type">
                                        <option value="map"> Map</option>
                                        <option value="sfdp" selected>Sfdp</option>
                                        <option value="twopi">Twopi</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-auto">
                                <label for="number_of_clusters" style="margin-top: 5px;">Number of
                                    Clusters:<span style="display: inline-block; margin-left: 5px;"><img
                                        src="{{ url_for('static', filename='app_images/question.png') }}" class="mx-auto"
                                        alt="Image" style="width: 20px; height: 20px; margin-left: 5px;" data-toggle="tooltip"
                                        data-placement="bottom" title="{{tooltip_number_of_clusters}}"></span></label>
                            </div>
                            <div class="col-auto">
                                <input type="number" id="number_of_clusters" name="number_of_clusters"
                                    class="form-control" min="1" step="1" placeholder="None" />
                            </div>
                        </div>
                    </div>
                    <div class="accordion-body" id="resilienceMaliciousIframe">
                        {% include 'resilience/resilience_template.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('static', filename='js/resilience/resilience_malicious.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        const typeOfAttack = document.getElementById('type_of_attack');
        const numberOfNodes = document.getElementById('number_of_nodes_malicious_input');
        const thresholdOperator = document.getElementById('dropdown-menu2-input');
        const numberOfThreshold = document.getElementById('number_of_threshold_input');

        const res_btn = document.getElementById('resilience_btn');
        const inputAccordion = document.getElementById('flush-collapseOne');
        const outputAccordion = document.getElementById('flush-collapseTwo');


        $(res_btn).on('click', function (e) {
            e.preventDefault();
            if (inputAccordion.classList.contains('show')) {
                inputAccordion.classList.remove('show');
                outputAccordion.classList.add('show');
            } else {
                inputAccordion.classList.add('show');
            }

            const nodeTab = document.getElementById('nav-node-tab');
            const thresholdTab = document.getElementById('nav-threshold-tab');

            const data = {
                type_of_attack: typeOfAttack.value,
                number_of_nodes_malicious: numberOfNodes.value,
                threshold_operator: thresholdOperator.value,
                number_of_threshold: numberOfThreshold.value,
                session_id: '{{ session_id }}'
            };

            if (nodeTab.classList.contains('active')) {
                data.number_of_threshold = null;
                data.threshold_operator = null;
            } else if (thresholdTab.classList.contains('active')) {
                data.number_of_nodes_malicious = null;
            }

            performResilienceMalicious(data);
        });
    });
</script>
{% endblock %}