<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="author" content="Alpha Team Group"/>

    <title>
        Complex Network - {% block title %}{% endblock %} | AlphaTeam
    </title>

    <link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="/static/assets/css/styles.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/upload-style.css') }}">

    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="sb-nav-fixed">

{% block content %}{% endblock content %}

{% include 'includes/upload-scripts.html' %}

{% block javascripts %}{% endblock javascripts %}

</body>
</html>
